<main>
  <div class="p-2">
    <h1 class='top-message pb-6'>この世は筋肉が全て！</h1>
  </div>

  <div class='top_man p-6'>
    <%= image_tag 'top_img.png'%>
  </div>

  <div class="pb-6">
    <h1 class='top-message'>あなたの悩み、<br>全て筋トレで解決します！</h1>
  </div>

  <div class="columns m-6">
    <%= link_to new_result_path, method: :get, class: 'column is-6 is-offset-3 custom-btn btn-1 submit-button button top-btn' do %>
      <span><%= "相談を始める" %></span>
    <% end %>
  </div>
</main>
