<div>  
  <div class="p-6 image is-500x100">
    <%= image_tag 'mukinator.png' %>
  </div>

  <section class='top_man'>
    <%= image_tag 'Group_1.png'%>
  </section>
  
  <section class="section is-large">
    <p class='is-size-1'>あなたの悩み、全て筋トレで解決します！</p>
  </section>

  <!-- ニックネーム、性別選択ページに遷移 -->
  <%= link_to new_result_path, method: :get, class: 'top-btn top-btn-gradient' do %>
    <span><%= "相談を始める" %></span>
  <% end %>
</div>
