<div class="youtube-video p-5">
  <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{video.video}", \
      frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
</div>
