<div id="loader">
  <div id= 'loading-area', class='loading-area pt-2 mt-2' >
    <p class='loading-title pt-6 pb-2'>筋トレ名言</p>
    <div class="loading-wise-saying-area">
      <p class='loading-wise-saying is-hide p-3'><%= word.name %></p>
      <p class='loading-person is-hide pb-6'><%= word.people %></p>
    </div>
  </div>
  <div class="sink-area">
    <p class="rotation"></p>
    <p class='loading-mesaage pt-3'>解決策考案中...</p>
  </div>
</div>
