<h1>name_gender.html.erb</h1>
<%= form_with model: @result, url: trouble_category_results_path, local: true do |f| %>
  <%= f.label 'ニックネーム' %>
  <%= f.text_field :nickname %>

  <%= f.submit '次へ' %>
<% end %>