.category-title {
  font-size: 400%;
}

.select-message {
  font-size: 200%;
}

.radio-label {
  font-size: 300%;
}

.button-area {
  display:flex;
  flex-flow: column;
}

.radio-label {
  width: 50%;
  position: relative;
  left: 15%;
}

.radio-button {
  position: relative;
  top: -8px;
  width: 40px;
  height: 40px;
}

