.result-title {
  font-size: 400%;
}

.solution {
  font-size: 300%;
}

.result {
  font-size: 150%;
}

.trouble-name {
  font-size: 180%;
}

.wise-saying-label {
  font-size: 110%;
}

.wise-saying {
  font-size: 150%;
}

.saying-person {
  font-size: 140%;
}