.submit-button {
  margin: 20px;
}

.custom-btn {
  width: 150%;
  height: 60%;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Reggae One', cursive,  sans-serif;
  font-weight: 500;
  font-size: 200%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background: rgb(64, 6, 131);
  background: linear-gradient(0deg, rgb(54, 6, 131) 0%, rgb(90, 12, 180) 100%);
  border: none;
}

.btn-1:hover {
  color: #fff;
  background: rgb(119, 0, 255);
  background: linear-gradient(0deg, rgb(98, 0, 255) 0%, rgb(222, 2, 251) 100%);
}
