// トップロゴ
.top-logo img {
  margin-top: 35px;
}

// トップ画像
.top_man img {
  position: relative;
  top: 60px;
  width: 80%;
  
}

.top-message {
  position: relative;
  top: 30px;
  font-size: 320%;
}

// 送信ボタンの幅と文字の大きさを指定
.top-btn {
  width: 60%;
  font-size: 3.8rem;
}
