.trouble-title {
  font-size: 400%;
}

.trouble-message {
  font-size: 350%;
}

.trouble-label {
  font-size: 300%;
}

// ラジオボタンの配置
.trouble-button-area {
  display:flex;
  // flex-flow: column;
  position: relative;
  left: 10%;
}

// ボタンカスタマイズ
.trouble-trouble-button-area {
	width: 90%;
	margin: 2em auto;
	// text-align: left;
}

// アニメーション
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.5;
	}
	100% {
		width: 400px;
		height: 400px;
		margin-top: -185px;
		margin-left: -185px;
		opacity: 0;
	}
}
.trouble-button-area .radio-button {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.trouble-button-area .radio-button:hover {
	background: #ebceff;
}
.trouble-button-area .radio-button:checked {
	background: #8e3cda;
}
.trouble-button-area .radio-button:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '';
	text-align: center;
}
.trouble-button-area .radio-button:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 1.0s;
	        animation: click-wave 1.0s;
  background: #ad3cda;
}
.trouble-button-area .radio-button.radio {
	border-radius: 50%;
}
.trouble-button-area .radio-button.radio::after {
	border-radius: 50%;
}
.trouble-button-area label {
	line-height: 40px;
	display: block;
}
.trouble-button-area .radio-button:disabled {
	cursor: not-allowed;
	background: #b8b7b7;
}
.trouble-button-area .radio-button:disabled::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✖︎';
	text-align: center;
}
.trouble-button-area .disabled {
	color: #9e9e9e;
}

// 送信ボタン
.custom-btn-3 {
  width: 100%;
  height: 60%;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Reggae One', cursive,  sans-serif;
  font-weight: 500;
  font-size: 200%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: rgb(22,9,240);
  background: linear-gradient(0deg, rgb(128, 9, 240) 0%, rgb(69, 49, 244) 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  left: 20%;
}
.btn-3:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-3:hover {
  color: #fff;
  border: none;
  background: transparent;
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgb(193, 2, 251) 0%,  rgb(98, 0, 255)100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}
// .btn-3:hover:after {
//   background: rgb(0,3,255);
//   background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
