.trouble-title {
  font-size: 5rem;
}

.trouble-message {
  font-size: 4rem;
}

.trouble-label {
  font-size: 3rem;
}

// ラジオボタンの配置
.trouble-button-area {
  display: flex;
}

// アニメーション
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.5;
	}
	100% {
		width: 400px;
		height: 400px;
		margin-top: -205px;
		margin-left: -220px;
		opacity: 0;
	}
}

.trouble-button-area .radio-button {
	position: relative;
	top: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}

.trouble-button-area .radio-button:hover {
	background: #ebceff;
}

.trouble-button-area .radio-button:checked {
	background: #8e3cda;
}

.trouble-button-area .radio-button:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '';
	text-align: center;
}

.trouble-button-area .radio-button:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 1.0s;
	        animation: click-wave 1.0s;
  background: #ad3cda;
}

.trouble-button-area .radio-button.radio {
	border-radius: 50%;
}

.trouble-button-area .radio-button.radio::after {
	border-radius: 50%;
}
.trouble-button-area label {
	line-height: 50px;
	display: block;
}

.trouble-button-area .radio-button:disabled {
	cursor: not-allowed;
	background: #b8b7b7;
}

.trouble-button-area .radio-button:disabled::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✖︎';
	text-align: center;
}

.trouble-button-area .disabled {
	color: #9e9e9e;
}

// 悩み選択ページの送信ボタンのみ別で幅を指定
.btn-width {
  width: 90%;
}
